@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    transition: 0.15s ease-out;
}

:root {
    --main-color: #e0834d;
    --main-color-shadow: #c06b3a;
    --main-color-light: rgb(235, 155, 109);
    --green-color: #4de06d;
    --green-color-shadow: #2db64b;
    --red-color: #e0524d;
    --red-color-shadow: #b6362d;
    --bg-color: #0f0f0f;
    --bg-secondary: #1a1a1a;
    --gray-color: #a38a7a;
    --gray-color-light: #d3c2b6;
}

body {
    font-family: inter;
}

p {
    margin: 0;
}

header {
    height: 85px;
}

.nav-bar {
    width: 100%;
    position: fixed;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 5px solid #e5e5e5;
    background-color: white;
    z-index: 10;
}

.nav-bar>div {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar>div div {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-bar>div div a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
}

.container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 0;
    padding-right: 0;
}

.lesson {
    height: 150px;
    padding: 4px;
    border-radius: 20px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 0px var(--main-color-shadow);
}

.lesson-bg {
    border-radius: 17px;
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.lesson-emoji {
    text-decoration: none;
    font-size: 52px;
    border-radius: 15px;
    aspect-ratio: 1 / 1;
    background-color: var(--main-color);
    box-shadow: 0px 5px 0px var(--main-color-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease-out;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0);
}

.lesson-emoji p {
    color: white;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    transition: 0.15s ease-out;
}

.lesson-emoji:hover {
    aspect-ratio: 1 / 1;
    box-shadow: 0px 5px 0px var(--main-color);
    background-color: var(--main-color-light);
    border: 1px solid var(--main-color-shadow);

    p {
        opacity: 1;
    }
}

.lesson-info {
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    background-color: #e5e5e5;
    box-shadow: 0px 5px 0px #D9D9D9;
}

.title1 {
    color: black;
    height: 28px;
    font-size: 28px;
    font-weight: 900;
}

.title2 {
    height: 24px;
    font-size: 24px;
    color: #aeaeae;
    font-weight: 900;
}

.title3 {
    height: 24px;
    font-size: 24px;
    color: var(--main-color);
    font-weight: 900;
}

.title3:hover {
    color: var(--main-color-light);
}

main {
    padding: 25px 0;
}

aside {

    position: fixed;

}







.levels {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.razd{
    transform: translateX(-25px);
}
.invert{
    transform: translateX(25px);
}
.razd, .invert{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.circles {
    height: 80px;
    width: 80px;
    padding: 4px;
    border-radius: 50px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 7px 0px var(--main-color-shadow);
    font-size: 36px;
    font-weight: 900;
    color: var(--main-color);
    border: none;
    color: white;
    text-decoration: none;
}
.circles.closed{
    padding: 5px;
    background-color: var(--gray-color-light);
    box-shadow: 0px 7px 0px var(--gray-color);
}
.circles .closed>div {
    color: var(--gray-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50px;
    width: 100%;
    height: 100%;
    background-color: white;
}

.razd .circles:nth-child(2){
    transform: translateX(-50px);
}
.razd .circles:nth-child(3){
    transform: translateX(-100px);
}
.razd .circles:nth-child(4){
    transform: translateX(-50px);
}
.invert .circles:nth-child(2){
    transform: translateX(50px);
}
.invert .circles:nth-child(3){
    transform: translateX(100px);
}
.invert .circles:nth-child(4){
    transform: translateX(50px);
}

.circles:hover {
    .hover {
        scale: 1;
        opacity: 1;
    }
}

.hover {
    width: 200px;
    scale: 0;
    transition: 0.25s ease-out;
    background-color: white;
    z-index: 10;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid;
    position: absolute;
    transform: translateX(-150px);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    font-size: 60%;
    color: var(--main-color);
    p {
        margin: 0;
    }
}
.closed .hover {
    color: var(--gray-color-light);
}