@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    transition: 0.15s ease-out;
}

:root {
    --main-color: #e0834d;
    --main-color-shadow: #c06b3a;
    --main-color-light: rgb(235, 155, 109);
    --green-color: #4de06d;
    --green-color-shadow: #2db64b;
    --red-color: #e0524d;
    --red-color-shadow: #b6362d;
    --bg-color: #0f0f0f;
    --bg-secondary: #1a1a1a;
    --gray-color: #a38a7a;
    --gray-color-light: #d3c2b6;
}

body {
    padding: 1em;
}

/* 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inter;
}

main {
    width: 1080px;
    height: 100vh;
    display: flex;
    flex-direction: column;
} */
/* h1 {
    align-self: flex-start;
} */

.container {
    max-height: 96.5vh;
    margin-top: 0;
    justify-content: space-between;

    a {
        align-self: self-end;
    }
}

.q {
    min-height: 322px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70%;
}

.lesson-word {
    h1 {
        opacity: 0.5;
    }

    width: 70%;
}

#answers {
    /* width: 50%; */
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
}

.answers button>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    line-height: 20px;
    overflow-wrap: break-word;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

button {
    max-width: 200px;
    max-height: 100px;
    height: 100px;
    width: 200px;
    padding: 4px;
    border-radius: 20px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 0px var(--main-color-shadow);
    font-size: 36px;
    font-weight: 900;
    color: var(--main-color);
    border: none;
}

button .w {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    width: 100%;
    height: 100%;
    background-color: white;
}


button:hover {
    transform: translateY(-7px);

    .w {
        color: white;
        background-color: var(--main-color);
    }
}

button.good {
    background-color: var(--green-color);
    box-shadow: 0px 10px 0px var(--green-color-shadow);

    >div {
        color: white;
        background-color: var(--green-color);
    }
}

button.bad {
    background-color: var(--red-color);
    box-shadow: 0px 10px 0px var(--red-color-shadow);

    >div {
        color: white;
        background-color: var(--red-color);
    }
}

.column {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

button:hover {
    cursor: pointer;

    .word-hover {
        opacity: 1;
        scale: 1;
    }
}
.wrd{
    font-size: 42px;
}
.wrd:hover {
    cursor: pointer;

    .word-hover {
        opacity: 1;
        scale: 1;
    }
}

button.word-hover {
    transition: 0.25s ease-out;
}

.word-hover {
    scale: 0;
    min-width: 100px;
    max-width: 250px;
    max-height: 200px;
    transition: 0.25s ease-out;
    background-color: white;
    z-index: 10;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid;
    position: absolute;
    transform: translateY(20%);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    font-size: 50%;
    font-weight: 900;
    color: var(--main-color);

    p {
        margin: 0;
    }
}

.t {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-underline-offset: 10px;
    text-decoration: underline dashed var(--red-color);
}

* {
    transition: 0.15s ease-out;
}

:root {
    --main-color: #e0834d;
    --main-color-shadow: #c06b3a;
    --main-color-light: rgb(235, 155, 109);
    --green-color: #4de06d;
    --green-color-shadow: #2db64b;
    --red-color: #e0524d;
    --red-color-shadow: #b6362d;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inter;
}

main {
    width: 1080px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button .w {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    width: 100%;
    height: 100%;
    background-color: white;
}

button.selected {
    >div {
        color: white;
        background-color: var(--main-color);
    }
}

button.good {
    background-color: var(--green-color);
    box-shadow: 0px 10px 0px var(--green-color-shadow);
    animation: 0.5s ease-out good;

    >div {
        color: white;
        background-color: var(--green-color);
    }
}

button.good:hover {
    transform: none;

    .w {
        background-color: var(--green-color);
    }
}

button.bad:hover {
    transform: none;

    .w {
        background-color: var(--red-color);
    }
}

@keyframes good {
    0% {
        transform: translateY(10px);
    }

    25% {
        transform: translateY(5px) rotateY(15deg) rotateZ(-2deg);
    }

    60% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

button.bad {
    background-color: var(--red-color);
    box-shadow: 0px 10px 0px var(--red-color-shadow);

    >div {
        color: white;
        background-color: var(--red-color);
    }
}


.alert {
    box-sizing: border-box;
    border: 2px solid var(--green-color);
    background-color: white;
    color: var(--green-color);
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    animation: 0.5s show ease-out;
    font-size: 1.25em;
}

.alert.good {
    border: 2px solid var(--green-color);
    color: var(--green-color);

    a {
        color: var(--green-color-shadow) !important;
    }
}

.alert.bad {
    border: 2px solid var(--red-color);
    color: var(--red-color);

    a {
        color: var(--red-color-shadow) !important;
    }
}

.alert.hidden {
    opacity: 0;
    animation: none;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.progressbar {
    width: 100%;
    height: 25px;
    border: 3px lightgray solid;
    border-radius: 15px;
}

.bar {
    transition: 0.25s ease-in;
    border-radius: 15px;
    min-width: 0%;
    max-width: 100%;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: #4de06d;
}

.heart-container .broke{
    animation: broke 0.6s ease-in;
    opacity: 0;
}

@keyframes broke {
    0%{
        transform: translateY(10px);
    }
    75%{
        transform: translateY(-10px);
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}